@tailwind base;
@tailwind components;
@tailwind utilities;

/* =======================
   FUENTES
======================= */

@font-face {
  font-family: "HurmeBlack";
  src: url("../assets/fonts/HurmeGeometricSans4-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HurmeOblique";
  src: url("../assets/fonts/HurmeGeometricSans4-BoldObl.ttf")
    format("truetype");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

/* =======================
   BASE
======================= */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "HurmeOblique", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

/* =======================
   TIPOGRAFÍA
======================= */

h1,
h2,
h3,
h4 {
  font-family: "HurmeBlack", sans-serif;
}

p,
ul,
li {
  font-family: "HurmeOblique", sans-serif;
}

/* =======================
   ANIMACIONES
======================= */

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-sweep {
  animation: sweep 3s linear infinite;
}
