@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HurmeGeometricSans4-Black";
  src: url("/src/assets/fonts/HurmeGeometricSans4-Black.ttf") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometricSans4-BoldObl";
  src: url("/src/assets/fonts/HurmeGeometricSans4-BoldObl.ttf ") format("truetype");
  font-weight: 700;
  font-style: oblique;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "HurmeGeometricSans4-BoldObl";
  background-color: #000000;
  color: #ffffff;
  scroll-behavior: smooth;
}

titulo1{
  font-family: "HurmeGeometricSans4-BoldObl";
}

h1, h2, h3, h4 {
  font-family: "HurmeGeometricSans4-Black";
}

p {
  font-family: "HurmeGeometricSans4-Black";
};

ul {
   font-family: "HurmeGeometricSans4-Black";
}


@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-sweep {
  animation: sweep 3s linear infinite;
}
